<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML321ENSkillsNetwork817-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Content-based Course Recommender System Using User Profile and Course Genres**

Estimated time needed: **60** minutes

The most common type of content-based recommendation system is to recommend items to users based on their profiles. The user's profile revolves around that user's preferences and tastes. It is shaped based on user ratings, including the number of times a user has clicked on different items or liked those items.

The recommendation process is based on the similarity between those items. The similarity or closeness of items is measured based on the similarity in the content of those items. When we say content, we're talking about things like the item's category, tag, genre, and so on. Essentially the features about an item.

For online course recommender systems, we already know how to extract features from courses (such as genres or BoW features). Next, based on the course genres and users' ratings, we want to further build user profiles (if unknown). 

A user profile can be seen as the user feature vector that mathematically represents a user's learning interests.

With the user profile feature vectors and course genre feature vectors constructed, we can use several computational methods, such as a simple dot product, to compute or predict an interest score for each course and recommend those courses with high interest scores.

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/module_3/images/user_profile_score.png)

## Objectives

After completing this lab you will be able to:

* Generate a user profile based on course genres and rating
* Generate course recommendations based on a user's profile and course genres

----

## Prepare and setup the lab environment

First, let's install and import the required packages.

In [1]:
# !pip install scikit-learn==1.0.2
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.11/site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.11/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.11/site-packages (from scikit-learn) (3.1.0)

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
# also set a random state
rs = 123

### Lets generate user profiles using course genres and ratings

Suppose we have a very simple course genre dataset that contains only three genres: `Python`, `Database`, and `MachineLearning`.  

We also have two courses: `Machine Learning with Python` and `SQL Learning with Python` and their genres as follows:

In [4]:
course_genres = ['Python', 'Database', 'MachineLearning']
courses = [['Machine Learning with Python', 1, 0, 1], ["SQL with Python", 1, 1, 0]]
courses_df = pd.DataFrame(courses, columns = ['Title'] + course_genres)
courses_df

                          Title  Python  Database  MachineLearning
0  Machine Learning with Python       1         0                1
1               SQL with Python       1         1                0

As we can see from the dataset:
- Course `Machine Learning with Python` has `Python` and `MachineLearning` genres
- Course `SQL with Python` has `Python` and `Database` genres

Then let's create another simple user rating dataframe containing the ratings from two users.

In [5]:
users = [['user0', 'Machine Learning with Python', 3], ['user1', 'SQL with Python', 2]]
users_df = pd.DataFrame(users, columns = ['User', 'Title', 'Rating'])
users_df

    User                         Title  Rating
0  user0  Machine Learning with Python       3
1  user1               SQL with Python       2

Suppose user 0 rated `Machine Learning with Python` as 3 (completed with a certificate)  and user 1 rated `SQL with Python` as 2 (just audited or not completed).

Based on their course ratings and course genres. Can we generate a profile vector for each user?

Intuitively, since user 0 has completed the course `Machine Learning with Python`, they should be interested in those genres associated with the course, i.e.,Machine Learning and Python. 

On the other hand, user 0 has not taken the `SQL with Python` so it is likely they are not interested in the database genre.

To quantify such user interests, we could multiply user 0's rating vector with a course genre matrix and get the weighted genre's vector for the courses:

In [6]:
# User 0 rated course 0 as 3 and course 1 as 0/NA (unknown or not interested)
u0 = np.array([[3, 0]])

In [7]:
# The course genre's matrix
C = courses_df[['Python', 'Database', 'MachineLearning']].to_numpy()

Before multiple them, let's first print their shapes:

In [8]:
print(f"User profile vector shape {u0.shape} and course genre matrix shape {C.shape}")

User profile vector shape (1, 2) and course genre matrix shape (2, 3)

If we multiple a $1 x 2$ vector with a $2 x 3$ matrix, we will get a 1 x 3 vector representing the user profile vector.

$$u_0C = \begin{bmatrix} 3 & 0 \end{bmatrix} \begin{bmatrix} 1 & 0 & 1 \\\\ 1 & 1 & 0 \end{bmatrix}$$

In [9]:
u0_weights = np.matmul(u0, C)
u0_weights

# u0_weights=[3*1+0*1=3, 3*0+0*1=3, 3*1+0*1=3]

array([[3, 0, 3]])

In [10]:
course_genres

['Python', 'Database', 'MachineLearning']

Let's take a look at the result. This `u0_weights` is also called the weighted genre vector and represents the interests of the user for each genre based on the courses they have rated. As we can see from the results, user0 seems interested in `Python` and `MachineLearning` with a rating of 3.

Similarly, we can calculate the weighted genre matrix for user 1:

$$u_1C = \begin{bmatrix} 0 & 2 \end{bmatrix} \begin{bmatrix} 1 & 0 & 1 \\\\ 1 & 1 & 0 \end{bmatrix}$$

In [11]:
# User 1 rated course 0 as 0 (unknown or not interested) and course 1 as 2
u1 = np.array([[0, 2]])

In [12]:
u1_weights = np.matmul(u1, C)
u1_weights
#u1_weights=[[0*1+2*1=2, 0*0+2*1=2, 0*1+2*0=0]]

array([[2, 2, 0]])

As we can see from the `u1_weights` vector, user0 seems very interested in `Python` and `Database` with a value 2.

Let's combine the two weighted genre vectors and create a user profile dataframe:

In [13]:
weights = np.concatenate((u0_weights.reshape(1, 3), u1_weights.reshape(1, 3)), axis=0)

# weights_x = np.concatenate((u0_weights, u1_weights))

profiles_df = pd.DataFrame(weights, columns=['Python', 'Database', 'MachineLearning'])
profiles_df.insert(0, 'user', ['user0', 'user1'])

In [14]:
profiles_df

    user  Python  Database  MachineLearning
0  user0       3         0                3
1  user1       2         2                0

Now this `profiles_df` clearly shows the user profiles or course interests.

### Generate recommendation scores for some new courses

With the user profiles generated, we can see that `user0` is very interested in Python and machine learning, and `user1` is very interested in Python and database.

Now, suppose we published some new courses titled as `Python 101`, `Database 101`, and `Machine Learning with R`:

In [15]:
new_courses = [['Python 101', 1, 0, 0], ["Database 101", 0, 1, 0], ["Machine Learning with R", 0, 0, 1]]
new_courses_df = pd.DataFrame(new_courses, columns = ['Title', 'Python', 'Database', 'MachineLearning'])
new_courses_df

                     Title  Python  Database  MachineLearning
0               Python 101       1         0                0
1             Database 101       0         1                0
2  Machine Learning with R       0         0                1

Next, how can we calculate a recommendation score for each new course with respect to `user0` and `user1`, using user profile vectors and genre vectors?

One simple but effective way is to apply the dot product to the user profile vector and course genre vector (as they always have the same shape). Since we have two users and three courses, we need to perform a matrix multiplication:

In [16]:
profiles_df

    user  Python  Database  MachineLearning
0  user0       3         0                3
1  user1       2         2                0

Let's convert the course genre dataframe into a 2-D numpy array:

In [17]:
# Drop the title column
new_courses_df = new_courses_df.loc[:, new_courses_df.columns != 'Title']
course_matrix = new_courses_df.values
course_matrix

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [18]:
# course matrix shape
course_matrix.shape

(3, 3)

As we can see from the above output, the course matrix is a `3 x 3` matrix and each row vector is a course genre vector.

Then we can convert the user profile dataframe into another 2-d numpy array:

In [19]:
# Drop the user column
profiles_df = profiles_df.loc[:, profiles_df.columns != 'user']
profile_matrix = profiles_df.values
profile_matrix

array([[3, 0, 3],
       [2, 2, 0]])

In [20]:
profile_matrix.shape

(2, 3)

The profile matrix is a 2 x 3 matrix and each row is a user profile vector:

If we multiply the course matrix and the user profile matrix, we can get the 2 x 3 course recommendation matrix with each element `(i, j)` representing a recommendation score of course `i` to user `j`. Intuitively, if a user `j` is interested in some topics(genres) and if a course `i` also has the same topics(genres), it means the user profile vector and course genre vector share many common dimensions and a dot product is likely to have a large value.

In [21]:
scores = np.matmul(course_matrix, profile_matrix.T)
scores
# [[1*3+0*0+0*3=3, 1*2+0*2+0*0=2],
#  [0*3+0*0+0*3=0, 0*2+1*2+0*0=2],
#  [0*3+0*0+1*3=3, 0*2+0*2+1*0=0]]

array([[3, 2],
       [0, 2],
       [3, 0]])

Now let's add the course titles and user ids back to make the results more clear:

In [22]:
scores_df = pd.DataFrame(scores, columns=['User0', 'User1'])
scores_df.index = ['Python 101', 'Database 101', 'Machine Learning with R']

In [23]:
# recommendation score dataframe
scores_df

                         User0  User1
Python 101                   3      2
Database 101                 0      2
Machine Learning with R      3      0

In [24]:
# Another way
# scores_=np.matmul(profile_matrix, course_matrix)
# df=pd.DataFrame(scores_, columns=['Python 101','Database 101','Machine Learning with R'])
# df.index=['User0','User1']
# df

From the score results, we can see that:
- For user0, the recommended courses are `Python 101` and `Machine Learning with R` because user0 is very interested in Python and machine learning
- For user1, the recommended courses are `Python 101` and `Database 101` because user1 seems very interested in topics like Python and database

### TASK: Generate course recommendations based on user profile and course genre vectors

By now you have learned how to calculate recommendation scores using a user profile vector and a course genre vector.  Now, let's work on some real-world datasets to generate real personalized courses recommendations.

First, we will load a user's profile dataframe and a course genre dataframe:

In [25]:
course_genre_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/datasets/course_genre.csv"
course_genres_df = pd.read_csv(course_genre_url)

In [26]:
course_genres_df.head()

,COURSE_ID,TITLE,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,ML0201EN,robots are coming build iot apps with watson ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1,ML0122EN,accelerating deep learning with gpu,0,1,0,0,0,1,0,1,0,0,0,0,0,0
2,GPXX0ZG0EN,consuming restful services using the reactive ...,0,0,0,0,0,0,0,0,0,0,0,1,1,0
3,RP0105EN,analyzing big data in r using apache spark,1,0,0,1,0,0,0,0,1,0,1,0,0,0
4,GPXX0Z2PEN,containerizing packaging and running a sprin...,0,0,0,0,1,0,0,0,0,0,0,1,0,0

In [27]:
profile_genre_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/datasets/user_profile.csv"
profile_df = pd.read_csv(profile_genre_url)

In [28]:
profile_df.head()

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
0,2,52.0,14.0,6.0,43.0,3.0,33.0,0.0,29.0,41.0,2.0,18.0,34.0,9.0,6.0
1,4,40.0,2.0,4.0,28.0,0.0,14.0,0.0,20.0,24.0,0.0,6.0,6.0,0.0,2.0
2,5,24.0,8.0,18.0,24.0,0.0,30.0,0.0,22.0,14.0,2.0,14.0,26.0,4.0,6.0
3,7,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,8,6.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,0.0

The profile dataframe contains the course interests for each user, for example, user 8 is very interested in R, data analysis, database, and big data:

In [29]:
profile_df[profile_df['user'] == 8]

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
4,8,6.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,0.0

Next, let's load a test dataset, containing test users to whom we want to make course recommendations:

In [30]:
test_users_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/datasets/rs_content_test.csv"
test_users_df = pd.read_csv(test_users_url)

Let's look at how many test users we have in the dataset.

In [31]:
test_users = test_users_df.groupby(['user']).max().reset_index(drop=False)
test_user_ids = test_users['user'].to_list()
print(f"Total numbers of test users {len(test_user_ids)}")

Total numbers of test users 1000

Then for each test user in the test dataset, you need to first find out which courses are unknown/unselected to them. For example, suppose we have a user `1078030` with profile:

In [32]:
test_user_profile = profile_df[profile_df['user'] == 1078030]
test_user_profile

,user,Database,Python,CloudComputing,DataAnalysis,Containers,MachineLearning,ComputerVision,DataScience,BigData,Chatbot,R,BackendDev,FrontendDev,Blockchain
18204,1078030,0.0,12.0,0.0,9.0,0.0,12.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
# Now let's get the test user vector by excluding the `user` column
test_user_vector = test_user_profile.iloc[0, 1:].values
test_user_vector

array([ 0., 12.,  0.,  9.,  0., 12.,  0.,  6.,  0.,  0.,  0.,  0.,  0.,
        0.])

We can first find their enrolled courses in `test_users_df`:

In [34]:
enrolled_courses = test_users_df[test_users_df['user'] == 1078030]['item'].to_list()
enrolled_courses = set(enrolled_courses)

In [35]:
enrolled_courses

{'DA0101EN',
 'DV0101EN',
 'ML0101ENv3',
 'ML0115EN',
 'ML0120ENv2',
 'ML0122ENv1',
 'PY0101EN',
 'ST0101EN'}

We then print the entire course list:

In [36]:
all_courses = set(course_genres_df['COURSE_ID'].values)
all_courses

{'AI0111EN',
 'BC0101EN',
 'BC0201EN',
 'BC0202EN',
 'BD0101EN',
 'BD0111EN',
 'BD0115EN',
 'BD0121EN',
 'BD0123EN',
 'BD0131EN',
 'BD0133EN',
 'BD0135EN',
 'BD0137EN',
 'BD0141EN',
 'BD0143EN',
 'BD0145EN',
 'BD0151EN',
 'BD0153EN',
 'BD0211EN',
 'BD0212EN',
 'BD0221EN',
 'BD0223EN',
 'BENTEST4',
 'CB0101EN',
 'CB0103EN',
 'CB0105ENv1',
 'CB0201EN',
 'CC0101EN',
 'CC0103EN',
 'CC0120EN',
 'CC0121EN',
 'CC0150EN',
 'CC0201EN',
 'CC0210EN',
 'CC0250EN',
 'CC0271EN',
 'CL0101EN',
 'CNSC02EN',
 'CO0101EN',
 'CO0193EN',
 'CO0201EN',
 'CO0301EN',
 'CO0302EN',
 'CO0401EN',
 'COM001EN',
 'CP0101EN',
 'DA0101EN',
 'DA0151EN',
 'DA0201EN',
 'DAI101EN',
 'DB0101EN',
 'DB0111EN',
 'DB0113EN',
 'DB0115EN',
 'DB0151EN',
 'DE0205EN',
 'DJ0101EN',
 'DP0101EN',
 'DS0101EN',
 'DS0103EN',
 'DS0105EN',
 'DS0107',
 'DS0110EN',
 'DS0132EN',
 'DS0201EN',
 'DS0301EN',
 'DS0321EN',
 'DV0101EN',
 'DV0151EN',
 'DW0101EN',
 'DX0106EN',
 'DX0107EN',
 'DX0108EN',
 'EE0101EN',
 'GPXX01AVEN',
 'GPXX01DCEN',
 'GPXX01RYEN',
 'GPXX03HFEN',
 'GPXX0435EN',
 'GPXX048OEN',
 'GPXX04HEEN',
 'GPXX04MXEN',
 'GPXX04P5EN',
 'GPXX04TNEN',
 'GPXX04V3EN',
 'GPXX04XJEN',
 'GPXX05LMEN',
 'GPXX05P1EN',
 'GPXX05RDEN',
 'GPXX06KEEN',
 'GPXX06RFEN',
 'GPXX06ZLEN',
 'GPXX0725EN',
 'GPXX0742EN',
 'GPXX07REN',
 'GPXX07UGEN',
 'GPXX07YGEN',
 'GPXX08WYEN',
 'GPXX097UEN',
 'GPXX0A1YEN',
 'GPXX0ADEN',
 'GPXX0BSAEN',
 'GPXX0BUBEN',
 'GPXX0D14EN',
 'GPXX0E3QEN',
 'GPXX0FFCEN',
 'GPXX0FTCEN',
 'GPXX0G31EN',
 'GPXX0G3KEN',
 'GPXX0G81EN',
 'GPXX0HAAEN',
 'GPXX0HC7EN',
 'GPXX0HZ2EN',
 'GPXX0I4FEN',
 'GPXX0IBEN',
 'GPXX0IHMEN',
 'GPXX0JGFEN',
 'GPXX0JLHEN',
 'GPXX0JZ4EN',
 'GPXX0KHHEN',
 'GPXX0KV4EN',
 'GPXX0KY1EN',
 'GPXX0LLEEN',
 'GPXX0M6UEN',
 'GPXX0M7ZEN',
 'GPXX0MIIEN',
 'GPXX0MP0EN',
 'GPXX0NHZEN',
 'GPXX0PG8EN',
 'GPXX0PICEN',
 'GPXX0Q8AEN',
 'GPXX0QJFEN',
 'GPXX0QQ3EN',
 'GPXX0QR3EN',
 'GPXX0QS6EN',
 'GPXX0QTEEN',
 'GPXX0QU9EN',
 'GPXX0RL8EN',
 'GPXX0RQLEN',
 'GPXX0SDXEN',
 'GPXX0T0FEN',
 'GPXX0T3CEN',
 'GPXX0TY1EN',
 'GPXX0UMSEN',
 'GPXX0UN5EN',
 'GPXX0W7KEN',
 'GPXX0WRDEN',
 'GPXX0WTIEN',
 'GPXX0XENEN',
 'GPXX0XFQEN',
 'GPXX0XV3EN',
 'GPXX0YBFEN',
 'GPXX0YMEEN',
 'GPXX0YXHEN',
 'GPXX0Z2PEN',
 'GPXX0ZG0EN',
 'GPXX0ZMZEN',
 'GPXX0ZYVEN',
 'HCC104EN',
 'HCC105EN',
 'IT0101EN',
 'LB0101ENv1',
 'LB0103ENv1',
 'LB0105ENv1',
 'LB0107ENv1',
 'LB0109ENv1',
 'LB0111EN',
 'ML0101EN',
 'ML0101ENv3',
 'ML0103EN',
 'ML0109EN',
 'ML0111EN',
 'ML0115EN',
 'ML0120EN',
 'ML0120ENv2',
 'ML0120ENv3',
 'ML0122EN',
 'ML0122ENv1',
 'ML0122ENv3',
 'ML0151EN',
 'ML0201EN',
 'OS0101EN',
 'PA0101EN',
 'PA0103EN',
 'PA0107EN',
 'PA0109EN',
 'PHPM002EN',
 'PY0101EN',
 'QC0101EN',
 'RAVSCTEST1',
 'RP0101EN',
 'RP0103',
 'RP0103EN',
 'RP0105EN',
 'RP0151EN',
 'SC0101EN',
 'SC0103EN',
 'SC0105EN',
 'SECM03EN',
 'SN0111EN',
 'ST0101EN',
 'ST0201EN',
 'ST0301EN',
 'SW0101EN',
 'SW0201EN',
 'TA0105',
 'TA0105EN',
 'TA0106EN',
 'TMP0101EN',
 'TMP0105EN',
 'TMP0106',
 'TMP107',
 'WA0101EN',
 'WA0103EN',
 'excourse01',
 'excourse02',
 'excourse03',
 'excourse04',
 'excourse05',
 'excourse06',
 'excourse07',
 'excourse08',
 'excourse09',
 'excourse10',
 'excourse11',
 'excourse12',
 'excourse13',
 'excourse14',
 'excourse15',
 'excourse16',
 'excourse17',
 'excourse18',
 'excourse19',
 'excourse20',
 'excourse21',
 'excourse22',
 'excourse23',
 'excourse24',
 'excourse25',
 'excourse26',
 'excourse27',
 'excourse28',
 'excourse29',
 'excourse30',
 'excourse31',
 'excourse32',
 'excourse33',
 'excourse34',
 'excourse35',
 'excourse36',
 'excourse37',
 'excourse38',
 'excourse39',
 'excourse40',
 'excourse41',
 'excourse42',
 'excourse43',
 'excourse44',
 'excourse45',
 'excourse46',
 'excourse47',
 'excourse48',
 'excourse49',
 'excourse50',
 'excourse51',
 'excourse52',
 'excourse53',
 'excourse54',
 'excourse55',
 'excourse56',
 'excourse57',
 'excourse58',
 'excourse59',
 'excourse60',
 'excourse61',
 'excourse62',
 'excourse63',
 'excourse64',
 'excourse65',
 'excourse66',
 'excourse67',
 'excourse68',
 'excourse69',
 'excourse70',
 'excourse71',
 'excourse72',
 'excourse73',
 'excourse74',
 'excourse75',
 'excourse76',
 'excourse77',
 'excourse78',
 'excourse79',
 'excourse80',
 'excourse81',
 'excourse82',
 'excourse83',
 'excourse84',
 'excourse85',
 'excourse86',
 'excourse87',
 'excourse88',
 'excourse89',
 'excourse90',
 'excourse91',
 'excourse92',
 'excourse93'}

Then we can use all courses to subtract the enrolled courses to get a set of all unknown courses for user `1078030`, and we want to find potential interested courses hidden in the unknown course list.

In [37]:
unknown_courses = all_courses.difference(enrolled_courses)
unknown_courses

{'AI0111EN',
 'BC0101EN',
 'BC0201EN',
 'BC0202EN',
 'BD0101EN',
 'BD0111EN',
 'BD0115EN',
 'BD0121EN',
 'BD0123EN',
 'BD0131EN',
 'BD0133EN',
 'BD0135EN',
 'BD0137EN',
 'BD0141EN',
 'BD0143EN',
 'BD0145EN',
 'BD0151EN',
 'BD0153EN',
 'BD0211EN',
 'BD0212EN',
 'BD0221EN',
 'BD0223EN',
 'BENTEST4',
 'CB0101EN',
 'CB0103EN',
 'CB0105ENv1',
 'CB0201EN',
 'CC0101EN',
 'CC0103EN',
 'CC0120EN',
 'CC0121EN',
 'CC0150EN',
 'CC0201EN',
 'CC0210EN',
 'CC0250EN',
 'CC0271EN',
 'CL0101EN',
 'CNSC02EN',
 'CO0101EN',
 'CO0193EN',
 'CO0201EN',
 'CO0301EN',
 'CO0302EN',
 'CO0401EN',
 'COM001EN',
 'CP0101EN',
 'DA0151EN',
 'DA0201EN',
 'DAI101EN',
 'DB0101EN',
 'DB0111EN',
 'DB0113EN',
 'DB0115EN',
 'DB0151EN',
 'DE0205EN',
 'DJ0101EN',
 'DP0101EN',
 'DS0101EN',
 'DS0103EN',
 'DS0105EN',
 'DS0107',
 'DS0110EN',
 'DS0132EN',
 'DS0201EN',
 'DS0301EN',
 'DS0321EN',
 'DV0151EN',
 'DW0101EN',
 'DX0106EN',
 'DX0107EN',
 'DX0108EN',
 'EE0101EN',
 'GPXX01AVEN',
 'GPXX01DCEN',
 'GPXX01RYEN',
 'GPXX03HFEN',
 'GPXX0435EN',
 'GPXX048OEN',
 'GPXX04HEEN',
 'GPXX04MXEN',
 'GPXX04P5EN',
 'GPXX04TNEN',
 'GPXX04V3EN',
 'GPXX04XJEN',
 'GPXX05LMEN',
 'GPXX05P1EN',
 'GPXX05RDEN',
 'GPXX06KEEN',
 'GPXX06RFEN',
 'GPXX06ZLEN',
 'GPXX0725EN',
 'GPXX0742EN',
 'GPXX07REN',
 'GPXX07UGEN',
 'GPXX07YGEN',
 'GPXX08WYEN',
 'GPXX097UEN',
 'GPXX0A1YEN',
 'GPXX0ADEN',
 'GPXX0BSAEN',
 'GPXX0BUBEN',
 'GPXX0D14EN',
 'GPXX0E3QEN',
 'GPXX0FFCEN',
 'GPXX0FTCEN',
 'GPXX0G31EN',
 'GPXX0G3KEN',
 'GPXX0G81EN',
 'GPXX0HAAEN',
 'GPXX0HC7EN',
 'GPXX0HZ2EN',
 'GPXX0I4FEN',
 'GPXX0IBEN',
 'GPXX0IHMEN',
 'GPXX0JGFEN',
 'GPXX0JLHEN',
 'GPXX0JZ4EN',
 'GPXX0KHHEN',
 'GPXX0KV4EN',
 'GPXX0KY1EN',
 'GPXX0LLEEN',
 'GPXX0M6UEN',
 'GPXX0M7ZEN',
 'GPXX0MIIEN',
 'GPXX0MP0EN',
 'GPXX0NHZEN',
 'GPXX0PG8EN',
 'GPXX0PICEN',
 'GPXX0Q8AEN',
 'GPXX0QJFEN',
 'GPXX0QQ3EN',
 'GPXX0QR3EN',
 'GPXX0QS6EN',
 'GPXX0QTEEN',
 'GPXX0QU9EN',
 'GPXX0RL8EN',
 'GPXX0RQLEN',
 'GPXX0SDXEN',
 'GPXX0T0FEN',
 'GPXX0T3CEN',
 'GPXX0TY1EN',
 'GPXX0UMSEN',
 'GPXX0UN5EN',
 'GPXX0W7KEN',
 'GPXX0WRDEN',
 'GPXX0WTIEN',
 'GPXX0XENEN',
 'GPXX0XFQEN',
 'GPXX0XV3EN',
 'GPXX0YBFEN',
 'GPXX0YMEEN',
 'GPXX0YXHEN',
 'GPXX0Z2PEN',
 'GPXX0ZG0EN',
 'GPXX0ZMZEN',
 'GPXX0ZYVEN',
 'HCC104EN',
 'HCC105EN',
 'IT0101EN',
 'LB0101ENv1',
 'LB0103ENv1',
 'LB0105ENv1',
 'LB0107ENv1',
 'LB0109ENv1',
 'LB0111EN',
 'ML0101EN',
 'ML0103EN',
 'ML0109EN',
 'ML0111EN',
 'ML0120EN',
 'ML0120ENv3',
 'ML0122EN',
 'ML0122ENv3',
 'ML0151EN',
 'ML0201EN',
 'OS0101EN',
 'PA0101EN',
 'PA0103EN',
 'PA0107EN',
 'PA0109EN',
 'PHPM002EN',
 'QC0101EN',
 'RAVSCTEST1',
 'RP0101EN',
 'RP0103',
 'RP0103EN',
 'RP0105EN',
 'RP0151EN',
 'SC0101EN',
 'SC0103EN',
 'SC0105EN',
 'SECM03EN',
 'SN0111EN',
 'ST0201EN',
 'ST0301EN',
 'SW0101EN',
 'SW0201EN',
 'TA0105',
 'TA0105EN',
 'TA0106EN',
 'TMP0101EN',
 'TMP0105EN',
 'TMP0106',
 'TMP107',
 'WA0101EN',
 'WA0103EN',
 'excourse01',
 'excourse02',
 'excourse03',
 'excourse04',
 'excourse05',
 'excourse06',
 'excourse07',
 'excourse08',
 'excourse09',
 'excourse10',
 'excourse11',
 'excourse12',
 'excourse13',
 'excourse14',
 'excourse15',
 'excourse16',
 'excourse17',
 'excourse18',
 'excourse19',
 'excourse20',
 'excourse21',
 'excourse22',
 'excourse23',
 'excourse24',
 'excourse25',
 'excourse26',
 'excourse27',
 'excourse28',
 'excourse29',
 'excourse30',
 'excourse31',
 'excourse32',
 'excourse33',
 'excourse34',
 'excourse35',
 'excourse36',
 'excourse37',
 'excourse38',
 'excourse39',
 'excourse40',
 'excourse41',
 'excourse42',
 'excourse43',
 'excourse44',
 'excourse45',
 'excourse46',
 'excourse47',
 'excourse48',
 'excourse49',
 'excourse50',
 'excourse51',
 'excourse52',
 'excourse53',
 'excourse54',
 'excourse55',
 'excourse56',
 'excourse57',
 'excourse58',
 'excourse59',
 'excourse60',
 'excourse61',
 'excourse62',
 'excourse63',
 'excourse64',
 'excourse65',
 'excourse66',
 'excourse67',
 'excourse68',
 'excourse69',
 'excourse70',
 'excourse71',
 'excourse72',
 'excourse73',
 'excourse74',
 'excourse75',
 'excourse76',
 'excourse77',
 'excourse78',
 'excourse79',
 'excourse80',
 'excourse81',
 'excourse82',
 'excourse83',
 'excourse84',
 'excourse85',
 'excourse86',
 'excourse87',
 'excourse88',
 'excourse89',
 'excourse90',
 'excourse91',
 'excourse92',
 'excourse93'}

We can get the genre vectors for those unknown courses as well:

In [38]:
unknown_course_genres = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
# Now let's get the course matrix by excluding `COURSE_ID` and `TITLE` columns:
course_matrix = unknown_course_genres.iloc[:, 2:].values
course_matrix

array([[0, 0, 0, ..., 1, 1, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0]])

Given the user profile vector for user `1078030`  and all the unseen course genres vectors above, you can use the dot product to calculate the recommendation score for each unknown course. e.g., the recommendation score for course `accelerating deep learning with gpu` is:

In [39]:
score = np.dot(course_matrix[1], test_user_vector)
score

30.0

Later, we will need to choose a recommendation score threshold. If the score of any course is above the threshold, we may recommend that course to the user.

The workflow can be summarized in the following flowchart:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/module_3/images/recommend_courses.png)

Next, let's calculate the recommendation scores of all courses for all the 1000 test users.

In [40]:
# We first reload all datasets again, and create an empty dictionary to store the results
test_users_df = pd.read_csv(test_users_url)
profile_df = pd.read_csv(profile_genre_url)
course_genres_df = pd.read_csv(course_genre_url)
res_dict = {}

In [41]:
test_users_df

         user       item  rating
0     1502801   RP0105EN     3.0
1     1609720   CNSC02EN     2.0
2     1347188   CO0301EN     3.0
3      755067   ML0103EN     3.0
4      538595   BD0115EN     3.0
...       ...        ...     ...
9397  1385217   EE0101EN     3.0
9398  1864644   DA0101EN     3.0
9399   435858  TMP0105EN     3.0
9400  1888188   DB0101EN     3.0
9401   708518   RP0101EN     3.0

[9402 rows x 3 columns]

In [42]:
test_users = test_users_df.groupby(['user']).max().reset_index(drop=False)
test_user_ids = test_users['user'].to_list()
test_user_ids

[37465,
 50348,
 52091,
 70434,
 85625,
 108541,
 109915,
 134697,
 142685,
 149690,
 152320,
 160015,
 161471,
 179356,
 181124,
 182509,
 182847,
 187819,
 189913,
 203388,
 211118,
 220851,
 243266,
 246282,
 246703,
 261571,
 266643,
 271899,
 277197,
 277715,
 284008,
 296101,
 306665,
 314348,
 315714,
 331334,
 331432,
 343800,
 345064,
 348808,
 351320,
 352684,
 354686,
 362955,
 364194,
 371091,
 373076,
 376785,
 390213,
 396776,
 397562,
 399457,
 403519,
 403839,
 406451,
 406940,
 408938,
 413286,
 418401,
 419414,
 422079,
 425952,
 426277,
 428501,
 428830,
 430274,
 431224,
 435051,
 435578,
 435858,
 435898,
 440679,
 446388,
 446982,
 447524,
 457527,
 459415,
 461049,
 461359,
 462554,
 462755,
 464965,
 471338,
 472908,
 476115,
 476798,
 477953,
 480186,
 481019,
 481658,
 482875,
 483426,
 484628,
 485273,
 486201,
 489692,
 491004,
 494226,
 497128,
 497451,
 503032,
 503291,
 506042,
 506202,
 506734,
 510780,
 511765,
 514320,
 515823,
 517197,
 518515,
 518867,
 528259,
 529858,
 531408,
 536821,
 538595,
 539916,
 542255,
 542454,
 543504,
 544738,
 545870,
 547966,
 550887,
 551330,
 552288,
 553969,
 555836,
 556941,
 558382,
 559369,
 560247,
 564038,
 565505,
 569052,
 569284,
 572721,
 573047,
 574414,
 576061,
 576397,
 577001,
 577409,
 578677,
 581446,
 583245,
 584748,
 585227,
 585654,
 587229,
 591984,
 599839,
 600214,
 601371,
 603336,
 603361,
 606214,
 606648,
 606892,
 607310,
 607999,
 608432,
 609057,
 609064,
 613802,
 614638,
 615039,
 616284,
 619829,
 620075,
 620994,
 621285,
 621497,
 621543,
 624248,
 625223,
 625486,
 627837,
 628701,
 629108,
 629189,
 630417,
 630511,
 632294,
 639271,
 641270,
 641998,
 642609,
 643167,
 645459,
 646160,
 646861,
 646951,
 646991,
 647516,
 655195,
 660570,
 661906,
 663689,
 666015,
 666135,
 666633,
 666770,
 667110,
 669512,
 671203,
 673206,
 674939,
 676094,
 676097,
 676317,
 679194,
 681552,
 681785,
 682652,
 683043,
 684186,
 685905,
 686896,
 687371,
 689540,
 690872,
 691576,
 691859,
 696085,
 696345,
 696942,
 697008,
 698476,
 699014,
 699465,
 700005,
 700521,
 701650,
 702927,
 703067,
 703905,
 704521,
 704583,
 705065,
 705746,
 707328,
 708518,
 714414,
 717307,
 717332,
 717728,
 718368,
 718688,
 720149,
 720259,
 724221,
 727462,
 728302,
 728690,
 731074,
 732897,
 733707,
 738131,
 738953,
 739168,
 739171,
 739646,
 739825,
 740210,
 741200,
 746437,
 746547,
 748522,
 750374,
 750640,
 753356,
 753875,
 755044,
 755067,
 757742,
 757762,
 759038,
 759656,
 760278,
 761540,
 762066,
 762860,
 765007,
 767649,
 769734,
 771772,
 774617,
 774894,
 774978,
 776333,
 777203,
 777750,
 778070,
 778132,
 779324,
 779505,
 779857,
 781728,
 782574,
 783842,
 784286,
 784385,
 784838,
 785533,
 786282,
 786514,
 787212,
 792854,
 793367,
 794282,
 794942,
 795406,
 828900,
 876841,
 877026,
 878908,
 881259,
 881665,
 881847,
 883013,
 883019,
 883150,
 883395,
 884271,
 884472,
 884576,
 884695,
 885498,
 886106,
 886688,
 887142,
 887336,
 887665,
 887953,
 888162,
 888784,
 888995,
 889030,
 889265,
 891366,
 896192,
 896335,
 897866,
 899011,
 899096,
 899349,
 899822,
 901100,
 902138,
 902409,
 902488,
 902617,
 902636,
 904667,
 905781,
 910687,
 911789,
 911798,
 911976,
 912100,
 913275,
 914078,
 914921,
 917017,
 917605,
 918805,
 919445,
 920511,
 921347,
 921445,
 922932,
 924246,
 925383,
 926147,
 926743,
 927022,
 927126,
 931209,
 931463,
 931547,
 932586,
 933539,
 934060,
 937026,
 940704,
 941063,
 942027,
 942261,
 943144,
 944182,
 945602,
 945917,
 946219,
 948812,
 951530,
 951683,
 952216,
 952742,
 956089,
 956675,
 957960,
 960871,
 963178,
 964237,
 964624,
 967436,
 968280,
 968566,
 968795,
 969379,
 969644,
 969690,
 970895,
 973663,
 974620,
 977927,
 978279,
 978391,
 979599,
 979847,
 980498,
 981848,
 982945,
 983498,
 983732,
 984164,
 984461,
 985429,
 985744,
 986814,
 988115,
 988310,
 988543,
 992171,
 998189,
 998607,
 998681,
 998972,
 1000886,
 1004265,
 1005000,
 1005259,
 1005934,
 1006163,
 1007060,
 1008504,
 1008779,
 1008900,
 1009985,
 1011733,
 1013378,
 1013489,
 1014699,
 1014837,
 1016704,
 1016747,
 1018143,
 1018224,
 1018679,
 1019344,
 1019556,
 1019623,
 1020974,
 1021071,
 1021113,
 1027344,
 1028691,
 1029144,
 1031032,
 1032524,
 1033465,
 1040249,
 1044500,
 1045938,
 1046219,
 1046814,
 1049471,
 1049634,
 1050603,
 1051348,
 1051928,
 1060120,
 1061145,
 1061706,
 1061755,
 1062761,
 1063521,
 1067028,
 1069367,
 1069780,
 1071340,
 1072153,
 1073082,
 1074342,
 1076032,
 1076158,
 1076538,
 1078030,
 1079714,
 1082958,
 1083088,
 1085199,
 1085627,
 1086160,
 1086577,
 1087982,
 1088239,
 1089282,
 1092050,
 1092281,
 1095855,
 1096927,
 1098265,
 1099252,
 1100356,
 1101622,
 1102170,
 1103515,
 1104351,
 1104367,
 1105350,
 1105494,
 1106139,
 1107112,
 1107312,
 1107323,
 1107439,
 1109401,
 1109662,
 1111747,
 1113053,
 1115180,
 1116126,
 1117875,
 1119439,
 1120306,
 1121636,
 1121817,
 1122903,
 1124048,
 1125014,
 1125199,
 1125553,
 1126377,
 1126865,
 1128878,
 1128883,
 1129990,
 1130710,
 1131617,
 1131796,
 1132916,
 1133967,
 1135440,
 1136445,
 1136751,
 1138220,
 1138499,
 1139255,
 1139258,
 1139362,
 1143471,
 1143528,
 1145194,
 1145420,
 1151828,
 1155304,
 1164273,
 1167173,
 1167829,
 1167861,
 1169698,
 1170761,
 1177066,
 1179973,
 1180109,
 1180577,
 1180992,
 1188137,
 1190408,
 1190880,
 1192496,
 1193731,
 1194104,
 1194262,
 1194346,
 1194679,
 1194704,
 1194859,
 1196134,
 1196755,
 1197018,
 1199884,
 1203928,
 1204117,
 1205620,
 1206954,
 1207973,
 1208537,
 1208551,
 1212187,
 1215047,
 1221910,
 1224751,
 1227873,
 1227916,
 1228256,
 1229024,
 1229980,
 1230771,
 1231465,
 1232030,
 1234087,
 1236864,
 1237626,
 1238107,
 1239926,
 1242036,
 1242515,
 1248209,
 1251998,
 1255885,
 1256658,
 1256661,
 1258208,
 1259123,
 1259402,
 1260758,
 1265804,
 1267592,
 1271321,
 1271375,
 1271384,
 1271923,
 1273446,
 1274973,
 1275452,
 1276534,
 1278965,
 1281883,
 1284176,
 1285846,
 1287646,
 1287782,
 1291244,
 1294863,
 1296757,
 1300715,
 1301573,
 1304559,
 1304909,
 1305655,
 1308093,
 1308482,
 1312255,
 1313360,
 1313389,
 1314655,
 1315713,
 1316258,
 1320948,
 1322106,
 1323058,
 1325764,
 1325797,
 1326774,
 1327565,
 1328233,
 1332218,
 1332683,
 1336595,
 1339300,
 1339442,
 1341177,
 1341273,
 1342117,
 1343288,
 1343816,
 1344036,
 1344813,
 1345617,
 1346186,
 1347188,
 1348528,
 1349271,
 1351020,
 1354651,
 1355350,
 1355756,
 1356003,
 1357226,
 1357352,
 1360399,
 1360773,
 1364743,
 1368592,
 1368692,
 1369842,
 1371316,
 1378699,
 1380474,
 1382697,
 1384042,
 1385217,
 1386352,
 1390057,
 1390701,
 1391909,
 1393591,
 1394499,
 1395227,
 1396267,
 1396750,
 1399082,
 1399944,
 1404598,
 1405594,
 1408128,
 1411199,
 1411341,
 1423135,
 1424123,
 1427154,
 1428322,
 1431506,
 1431881,
 1433282,
 1434413,
 1435065,
 1436224,
 1438699,
 1441107,
 1443131,
 1443238,
 1444838,
 1448499,
 1452402,
 1452505,
 1453424,
 1453903,
 1454545,
 1455180,
 1455717,
 1456410,
 1457700,
 1458003,
 1461432,
 1461811,
 1463405,
 1468344,
 1468497,
 1469379,
 1472511,
 1473132,
 1474331,
 1474724,
 1476082,
 1482567,
 1485705,
 1486184,
 1493943,
 1496193,
 1496810,
 1497705,
 1499434,
 1499966,
 1502111,
 1502801,
 1504635,
 1506139,
 1507787,
 1513356,
 1514188,
 1515909,
 1517420,
 1518203,
 1521903,
 1522374,
 1524666,
 1525360,
 1536959,
 1538828,
 1541383,
 1543054,
 1545628,
 1547165,
 1549032,
 1549935,
 1552450,
 1554610,
 1559681,
 1560987,
 1562232,
 1562460,
 1563448,
 1564139,
 1567706,
 1568651,
 1570208,
 1571241,
 1571271,
 1571316,
 1573190,
 1574761,
 1574834,
 1578344,
 1578616,
 1578866,
 1581286,
 1581358,
 1587923,
 1589197,
 1593639,
 1594142,
 1596323,
 1600241,
 1607052,
 1607405,
 1607944,
 1608895,
 1609128,
 1609720,
 1616648,
 1616745,
 1619917,
 1622107,
 1625215,
 1625299,
 1626145,
 1627236,
 1627595,
 1628200,
 1632349,
 1634015,
 1636610,
 1637328,
 1637560,
 1641257,
 1642918,
 1643171,
 1643210,
 1646441,
 1648099,
 1649175,
 1650969,
 1655079,
 1656151,
 1657304,
 1658021,
 1658936,
 1660009,
 1662401,
 1664399,
 1665194,
 1667543,
 1669680,
 1669829,
 1672648,
 1675314,
 1676221,
 1676451,
 1679018,
 1687045,
 1688004,
 1688159,
 1688652,
 1691061,
 1691129,
 1691612,
 1696376,
 1697610,
 1697791,
 1699356,
 1699606,
 1713082,
 1714575,
 1715864,
 1717303,
 1717953,
 1718448,
 1719220,
 1720300,
 1730573,
 1730632,
 1730913,
 1735651,
 1736248,
 1738888,
 1743750,
 1744047,
 1751031,
 1751931,
 1752907,
 1758635,
 1758996,
 1759305,
 1764803,
 1766896,
 1768789,
 1770354,
 1773079,
 1773434,
 1776689,
 1781984,
 1783867,
 1784245,
 1788961,
 1799705,
 1803286,
 1803385,
 1803965,
 1804257,
 1806207,
 1806813,
 1808215,
 1811287,
 1813704,
 1813726,
 1818149,
 1819037,
 1823144,
 1824570,
 1828981,
 1830259,
 1831769,
 1831780,
 1832099,
 1832234,
 1832901,
 1838639,
 1840422,
 1840749,
 1843006,
 1847555,
 1855220,
 1855847,
 1856259,
 1858250,
 1864236,
 1864557,
 1864644,
 1866295,
 1868084,
 1870948,
 1871037,
 1871214,
 1871627,
 1881160,
 1882084,
 1884765,
 1886079,
 1887480,
 1888188,
 1889420,
 1893628,
 1897898,
 1898770,
 1904245,
 1907898,
 1911140,
 1912529,
 1916042,
 1916547,
 1919394,
 1919984,
 1920814,
 1922237,
 1929807,
 1935753,
 1944533,
 1950381,
 1953163,
 1955349,
 1964245,
 1977334,
 1978886,
 1986311,
 2000341,
 2000884,
 2002590,
 2004142,
 2012017,
 2020759,
 2021696,
 2022708,
 2032910,
 2036996,
 2046621,
 2050073,
 2052832,
 2056704,
 2056952,
 2057052,
 2061096,
 2074313,
 2074462,
 2082818,
 2087663]

`users=[]
scores=[]
courses=[]

for user_id in test_user_ids:
    # get profile for an user: test_user_profile
    test_user_profile=profile_df[profile_df['user']==user_id]
    
    # get vector for an user: test_user_vector
    test_user_vector=test_user_profile.iloc[0,1:].values
    
    # get the list of enrolled courses for an user: enrolled_courses
    enrolled_courses=test_users_df[test_users_df['user']==user_id]['item'].to_list()
    
    # get the list of the ids of the courses which an user does not enroll: unknown_course_ids
    unknown_courses=all_courses.difference(enrolled_courses)
    unknown_course_df = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
    unknown_course_ids = unknown_course_df['COURSE_ID'].values
    
    # get the genre values of the courses which an user does not enroll: course_matrix
    unknown_course_genres = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
    course_matrix = unknown_course_genres.iloc[:, 2:].values
    
    # get the recommendation score for each course which an user does not enroll
    for i in range(0, len(course_matrix)):
        score = np.dot(course_matrix[i], test_user_vector)
        users.append(user_id)
        courses.append(unknown_course_genres.iloc[i,0])
        scores.append(score)
        
`

We only want to recommend courses with very high scores so we may set a score threshold to filter out those courses with low scores.

In [43]:
# Only keep the score larger than the recommendation threshold
# The threshold can be fine-tuned to adjust the size of generated recommendations
# score_threshold = 10.0
score_threshold = 10

We defined a function called `generate_recommendation_scores()` to compute the recommendation scores of all the unknown courses for all test users.

_TODO: Complete the generate_recommendation_scores() function blow to generate recommendation score for all users. You may also implement the task with different solutions._

In [44]:
def generate_recommendation_scores():
    users = []
    courses = []
    scores = []
    for user_id in test_user_ids:
        test_user_profile = profile_df[profile_df['user'] == user_id]
        # get user vector for the current user id
        test_user_vector = test_user_profile.iloc[0, 1:].values
        
        # get the unknown course ids for the current user id
        enrolled_courses = test_users_df[test_users_df['user'] == user_id]['item'].to_list()
        unknown_courses = all_courses.difference(enrolled_courses)
        unknown_course_df = course_genres_df[course_genres_df['COURSE_ID'].isin(unknown_courses)]
        unknown_course_ids = unknown_course_df['COURSE_ID'].values
        course_matrix = unknown_course_df.iloc[:, 2:].values

        
        # user np.dot() to get the recommendation scores for each course
        
        for i in range(0,len(course_matrix)):
            recommendation_score=np.dot(course_matrix[i], test_user_vector)
            # Append the results into the users, courses, and scores list
            # Only keep the courses with high recommendation score
            users.append(user_id)
            courses.append(unknown_course_ids[i])
            scores.append(recommendation_score)
                
    return users, courses, scores

NOTE: Instead of using some absolute score threshold, you may also try sorting the scores for each user and return the top-ranked courses.

After you have completed the function `generate_recommendation_scores()` above, you can test it and generate recommendation scores and save the courses recommendations into a dataframe with three columns: `USER`, `COURSE_ID`, `SCORE`:

In [45]:
# Return users, courses, and scores lists for the dataframe
users, courses, scores = generate_recommendation_scores()
res_dict['USER'] = users
res_dict['COURSE_ID'] = courses
res_dict['SCORE'] = scores
res_df = pd.DataFrame(res_dict, columns=['USER', 'COURSE_ID', 'SCORE'])
# Save the dataframe 
#res_df.to_csv("profile_rs_results.csv", index=False)

In [46]:
# filter the courses which have recomendation scores lower than score threshold (score_threshold = 10)
res_df2=res_df[res_df['SCORE']>=score_threshold]
# recommendation result
res_df2

           USER   COURSE_ID  SCORE
3         37465    RP0105EN   27.0
9         37465  GPXX06RFEN   12.0
11        37465    CC0271EN   15.0
18        37465    BD0145EN   24.0
20        37465    DE0205EN   15.0
...         ...         ...    ...
297592  2087663  excourse88   15.0
297593  2087663  excourse89   15.0
297594  2087663  excourse90   15.0
297596  2087663  excourse92   15.0
297597  2087663  excourse93   15.0

[53411 rows x 3 columns]

Your recommendation results may look like the following screenshot:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/module_3/images/recommendation_scores.png)

With the course recommendation list generated for each test user, you also need to perform some analytic tasks to answer the following two questions:

- On average, how many new courses have been recommended per test user?
- What are the most frequently recommended courses? Return the top-10 commonly recommended courses across all test users.

For example, suppose we have only 3 test users, each user receives the following course recommendations:

- User1: ['course1', 'course2']
- User2: ['course3', 'course4']
- User3: ['course3', 'course4', 'course5']

Then, the average recommended courses per user is: $(2 + 2 + 3) / 3 = 2.33$. The top-2 recommended courses are: `course3`: 2 times, and `course4`: 2 times.

Note that the answers may depend on your score threshold. A lower score threshold yields more recommended courses but with smaller confidence so that some test users may receive very long course recommendation lists and feel overwhelmed. 

Ideally, we should limit the maximum course recommendations to be less than 20 courses per user. As such, the average course recommendations per user should also be less than 20 or so. This makes sure we only recommend relevant courses with high confidence (score).

In [47]:
# Limit the maximum course recommendations to be less than 20 per user
res_df3=res_df2.sort_values(['USER', 'SCORE'],ascending=[True,False], ignore_index=True)
recommendations_user_list=res_df3.USER.unique().tolist()
recommendations_users=[]
recommendations_courses=[]
recommendations_scores=[]

for user in recommendations_user_list:
    user_recommendations=res_df3[res_df3['USER']==user]
    l=len(user_recommendations)
    if l > 20:
        recommendations_list=user_recommendations.index.to_list()
        recommendations_drop=recommendations_list[20:]
        res_df3.drop(labels=recommendations_drop, axis=0, inplace=True)

res_df3.reset_index(drop=True, inplace=True)
res_df3.head(50)

      USER   COURSE_ID  SCORE
0    37465    RP0105EN   27.0
1    37465   TMP0105EN   27.0
2    37465    BD0212EN   27.0
3    37465    SC0103EN   27.0
4    37465  excourse31   27.0
5    37465  excourse72   27.0
6    37465  excourse73   27.0
7    37465    BD0145EN   24.0
8    37465    BD0143EN   24.0
9    37465    BD0141EN   24.0
10   37465    BD0121EN   24.0
11   37465    BD0131EN   24.0
12   37465    DB0151EN   24.0
13   37465  GPXX0M6UEN   24.0
14   37465  GPXX097UEN   24.0
15   37465  excourse03   24.0
16   37465  excourse05   24.0
17   37465  excourse10   24.0
18   37465  excourse42   24.0
19   37465  excourse70   24.0
20   85625    RP0105EN   54.0
21   85625   TMP0105EN   54.0
22   85625    BD0212EN   54.0
23   85625    SC0103EN   54.0
24   85625    BD0211EN   54.0
25   85625    DB0151EN   54.0
26   85625    BD0101EN   54.0
27   85625  GPXX0M6UEN   54.0
28   85625  GPXX097UEN   54.0
29   85625  excourse03   54.0
30   85625  excourse05   54.0
31   85625  excourse10   54.0
32   85625  excourse31   54.0
33   85625  excourse42   54.0
34   85625  excourse70   54.0
35   85625  excourse71   54.0
36   85625  excourse72   54.0
37   85625  excourse73   54.0
38   85625    DE0205EN   42.0
39   85625  GPXX0G31EN   42.0
40  108541    RP0105EN   27.0
41  108541   TMP0105EN   27.0
42  108541    BD0212EN   27.0
43  108541    SC0103EN   27.0
44  108541  excourse72   27.0
45  108541  excourse73   27.0
46  108541    BD0145EN   24.0
47  108541    BD0143EN   24.0
48  108541    BD0141EN   24.0
49  108541    BD0121EN   24.0

In [48]:
recommendations_size=res_df3.groupby('USER').size()
users_count=len(recommendations_size)
recommendations_avg=recommendations_size.iloc[0:users_count].values.sum()/len(recommendations_size)
print("Average Number of Recommended Courses per User:", "{:.2f}".format(recommendations_avg))

Average Number of Recommended Courses per User: 18.46

In [49]:
# The top 1 most recommended course
recommendations_course_counts=res_df3.groupby('COURSE_ID').size()
max_counts=max(recommendations_course_counts)
for i in range(0,150):
    j=i+1
    if recommendations_course_counts[i:i+1].values==max_counts:
        print(recommendations_course_counts[i:i+1].index.values)

['RP0105EN']

In [50]:
# The top 10 most recommended courses
recommendations_course_counts=res_df3.groupby('COURSE_ID').size().sort_values(ascending=False)
recommendations_course_counts[0:10]

COURSE_ID
RP0105EN      441
TMP0105EN     430
ML0122EN      426
SC0103EN      395
GPXX0IBEN     395
excourse21    380
excourse22    377
TA0106EN      376
BD0212EN      373
ML0101EN      359
dtype: int64

### Summary

In this lab, you first learned how to generate a user profile vector based on the user's course ratings and course genre vectors. Then, with the user profile generated, you applied a simple dot product between the user profile vector and the course genre vector to generate a course recommendation score. 

The idea is if a user is interested in certain topics (genres) and if a course also has similar topics (genres), which means the user vector and course genre vector share common dimensions, and a dot product is able to capture such similarity.

## Authors

[Yan Luo](https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML321ENSkillsNetwork817-2022-01-01)

### Other Contributors

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2021-10-25|1.0|Yan|Created the initial version|

Copyright © 2021 IBM Corporation. All rights reserved.